body {
    background-color: rgb(255, 0, 0);
}
h1 {
    font-family: 'dancing script', sans-serif;
    text-align: center;
    font-size: 50px;
    color: yellow;
    position: relative;
    bottom: 25px;
    margin: 0;
}
img {
    height: 80px;
    position: relative; 
    top: 25px;
}
#container {
    display: grid;
    grid-template-columns: repeat(16, 20px);
    gap: 2px;
    justify-content: center;
    position: relative;
    top: 20px;
}
div:not(#container, #board, #btn) {
    border: 1px solid #000000;
    height: 20px;
    background-color: white;
}
#btn {
    width: 15%;
    margin: auto;
}
span {
    padding: 18px;
}
button {
    font-size: 25px;
    border-radius: 25px;
    border: 1px solid #000000;
}
.circle {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.two {
    position: fixed;
    right: 5px;
    bottom: 5px;
}
.one {
    position: fixed;
    bottom: 5px;
}