body {
    background-color: rgba(252, 255, 70, 0.637);
}
#board {
    height: 97%;
    width: 80%;
    position: absolute;
    left: 10%;
    background-color: red;
    border-radius: 25px ;
}
h1 {
    font-family: 'dancing script', sans-serif;
    text-align: center;
    font-size: 50px;
    color: yellow;
    position: relative;
    bottom: 25px;
    margin: 0;
}
img {
    height: 80px;
    position: relative; 
    top: 25px;
}
#container {
    width: 400px;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(16, calc(100% / 16));
    position: relative;
    top: 20px;
    border: 2px solid yellow;
}
div:not(#container,#board, #btn) {
    border-left: 1px solid #3d3d3d8f;
    border-bottom: 1px solid #3d3d3d8f;
    background-color: white;
}
span {
    padding: 18px;
}
button {
    font-size: 20px;
    padding: 5px;
}
#btn {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.circle {
    height: 65px;
    width: 65px;
    border-radius: 50px;
}
.two {
    position: fixed;
    right: 11%;
    bottom: 15px;
}
.one {
    position: fixed;
    bottom: 15px;
    left: 11%;
}